<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Post</h1>
  <div class="col-6 offset-3">
    <form action="/messages" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="message[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="message[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="body">Message</label>
        <textarea
          class="form-control"
          type="text"
          id="body"
          name="message[body]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Send Message</button>
      </div>
    </form>
    <a href="/messages">All Messages</a>
  </div>
</div>
